<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.repository.MemberRepository">

    <insert id="saveMember" parameterType="com.example.mybatis.dto.Member">
        insert into member values (#{id},#{name},#{tel})
    </insert>

    <select id="memberList" resultType="com.example.mybatis.dto.Member">
        select id,name,tel from Member order by id asc
    </select>

    <select id="findOne" resultType="com.example.mybatis.dto.Member" parameterType="Long">
        select * from Member where id=#{id}
    </select>

    <select id="memberNameSearch" parameterType="String" resultType="com.example.mybatis.dto.Member">
        select * from Member where name like '%' || #{name} || '%'
    </select>

    <update id="modifyMember" parameterType="com.example.mybatis.dto.Member">
        update member set name=#{name}, tel=#{tel} where id=#{id}
    </update>

    <delete id="deleteMember" parameterType="Long">
        delete member where id = #{id}
    </delete>

</mapper>