<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>입력</title>
</head>
<body>

<div>
  <a href="/product"> <button type="submit" class="btn btn-primary">입력</button></a>
  <a href="/product/list"> <button type="submit" class="btn btn-primary">목록</button></a>
  <a href="/product/summary"> <button type="submit" class="btn btn-primary">집계</button></a>
</div>
<h1>집계</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>상품명</th>
      <th>매출합계</th>

    </tr>
    </thead>
    <tbody >
    <tr th:each="dto : ${list}">
      <td th:text="${dto.name}"></td>
      <td th:text="${#numbers.formatInteger(dto.profit,0,'COMMA')}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>