<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="fragments :: head" />
    <title>입력</title>
    <style>
        .fieldError {
            border-color: #bd2130;
        }
    </style>
</head>
<body>

<header th:replace="fragments :: nav">

</header>

    <form th:action="@{school}" th:method="post" th:object="${school}" class="container-sm">
        <div class="form-group">
            <label th:for="id">번호</label>
            <input type="text" th:field="*{id}"  placeholder="아이디을 입력하세요" class="form-control"
                   th:class="${#fields.hasErrors('id')}? 'form-control fieldError':'form-control'" >
            <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="form-text text-danger">오류발생</p>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}"  placeholder="이름을 입력하세요" class="form-control"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger">오류발생</p>
        </div>
        <div class="form-group">
            <label th:for="tel">전화번호</label>
            <input type="text" th:field="*{tel}" class="form-control" placeholder="전화번호을 입력하세요">
        </div>
           <button type="submit" class="btn btn-primary">저장</button>

    </form>



<footer th:replace="fragments :: footer">
</footer>

</body>
</html>