<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="fragments :: head" />
    <title>입력</title>
</head>
<body>

<header th:replace="fragments :: nav">

</header>

<form action="/school" method="post" th:object="${school}" class="container-sm">
    <label th:for="title">번호</label>
    <input type="text" th:field="*{id}" class="form-control" placeholder="아이디을 입력하세요" readonly="readonly">
    <label th:for="title">이름</label>
    <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
    <label th:for="title">전화번호</label>
    <input type="text" th:field="*{tel}" class="form-control" placeholder="전화번호을 입력하세요">

    <input type="submit" value="전송" class="btn btn-primary mb-3">

</form>



<footer th:replace="fragments :: footer">
</footer>

</body>
</html>